img {
    max-width: 100%;
    height: 350px;
    right: 80px;
    left: 80px;
}
 footer {
    position: 50px;

 }

 a { text-decoration: none;}
nav {
    background-color: rgb(87, 180, 87);
    padding-top: 20px;
    padding-bottom: 20px;
}
footer {
    font-size: 25px;
    font-weight: 10px;
    background-color: rgb(240, 101, 101);
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    /* background-color:  rgb(87, 180, 87); */
    font-size: double;
}

a {
    color: rgb(0, 0, 0);

}

h1 {
    color:rgb(129, 189, 80)
}

h3 {
    color: rgb(129, 189, 80)
}

#recipes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

#ingredients-list{
    background-color: rgb(235, 235, 235);
}
